<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ringo.dao.UserDao">
    <!--dao层的参数与方法名对齐id-->
    <select id="QueryUserByName" parameterType="string" resultType="com.ringo.vo.User">
        select id, username, passwd
        from user where username=#{name};
    </select>
</mapper>